.buttonAuthorization {
  width: 101px;
  height: 51px;
  color: #ffffff;
  background-color: #54a0ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 200ms;

  @media (max-width: 768px) {
    display: none;
  }

  &:hover {
    background-color: #3d83db;
  }
  
  &:active {
    background-color: #54a0ff;
    box-shadow: 0px 5px 10px rgba(84, 160, 255, 0.5);
  }
}

.buttonAccount {
  display: none;

  @media (max-width: 768px) {
    display: block;
    background: none;
    border: none;
  }
}

.accountIcon {
  display: none;

  @media (max-width: 768px) {
    display: block;
    width: 20px;
    height: 24px;
  }
  
  @media (max-width: 768px) {
    width: 17px;
    height: 20px;
  }
}
