.root {
  height: 91px;
  padding: 20px 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 598px;
  align-items: center;
  max-width: 1625px;
  margin: 0 auto;
  padding: 0 20px;
}

.containerontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
