.root {
  position: absolute;
  top: 75px;
  left: -60px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 4px;
  width: 1000px;
  padding: 36px 20px;
  background-color: #ffffff;
  box-shadow: 0 0 24px rgba(81, 81, 81, 0.1);
}

.row {
  display: flex;
  justify-content: space-between;
  column-gap: 4px;
}

.button {
  width: 60px;
  height: 60px;
  font-family: 'Amiri';
  font-size: 25px;
  line-height: 32px;
  background: #ffffff;
  border: 1px solid hsla(0, 0%, 85%, 0.5);
  border-radius: 10px;
  cursor: pointer;
}

.clearButton {
  width: 150px;
  font-family: 'Muller';
  font-size: 18px;
}

.tabButton {
  width: 150px;
}

.capsButton {
  width: 170px;
}

.searchButton {
  width: 108px;
  font-family: 'Muller';
  font-size: 18px;
}

.leftShiftButton {
  width: 150px;
  font-family: 'Muller';
  font-size: 18px;
}

.rightShiftButton {
  width: 128px;
}
