.root {
  @media (max-width: 768px) {
    order: 1;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px 52px;
  max-width: 420px;
  list-style: none;
  z-index: 1;

  @media (max-width: 768px) {
    display: none;
    max-width: none;
  }
}

.listOpened {
  @media (max-width: 768px) {
    position: absolute;
    top: 69px;
    left: 0;
    display: block;
    width: 100%;
    padding-left: 64px;
    background-color: #ffffff;
  }
  
  @media (max-width: 390px) {
    position: absolute;
    display: block;
    width: 100%;
    padding-left: 16px;
  }
}

.list li {
  @media (max-width: 768px) {
    &:last-child {
      display: none;
    }
  }
}

.listOpened li {
  @media (max-width: 768px) {
    &:first-child {
      margin-top: 15px;
    }

    &:not(last-child) {
      margin-bottom: 15px;
    }
  }
}

.helpIcon {
  width: 24px;
  height: 24px;
}

.toggleButton {
  display: none;

  @media (max-width: 768px) {
    display: block;
    background: none;
    border: none;
  }
}

.toggleIcon {
  @media (max-width: 768px) {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  
  @media (max-width: 768px) {
    width: 24px;
    height: 24px;
  }
}

.closeIcon {
  @media (max-width: 768px) {
    width: 20px;
    height: 21px;
    text-align: center;
    vertical-align: middle;
  }

  @media (max-width: 768px) {
    width: 16px;
    height: 17px;
    margin-top: 3px;
  }
}
