.root {
  @media (max-width: 768px) {
    order: 1;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px 52px;
  max-width: 420px;
  list-style: none;

  @media (max-width: 768px) {
    display: none;
  }
}

.listOpened {
  @media (max-width: 768px) {
    position: absolute;
    top: 75px;
    left: 64px;
    display: block;
    width: 100%;
  }
}

.list li {
  @media (max-width: 768px) {
    &:last-child {
      display: none;
    }
  }
}

.listOpened li {
  @media (max-width: 768px) {
    &:not(last-child) {
      margin-bottom: 15px;
    }
  }
}

.helpIcon {
  width: 24px;
  height: 24px;
}

.toggleButton {
  display: none;

  @media (max-width: 768px) {
    display: block;
    background: none;
    border: none;
  }
}

.toggleIcon {
  @media (max-width: 768px) {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
}

.closeIcon {
  @media (max-width: 768px) {
    width: 20px;
    height: 21px;
    text-align: center;
    vertical-align: middle;
  }
}
