.list {
  display: flex;
  justify-content: space-between;
  max-width: 380px;
  list-style: none;
}

.appStoreIcon {
  width: 164px;
  height: 54px;
}

.googlePlayIcon {
  width: 177px;
  height: 54px;
}
