.input {
  height: 67px;
  padding: 16px 175px 16px 25px;
  font-family: 'Amiri';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 10px 0 0 10px;

  @media (max-width: 768px) {
    padding-right: 30px;
  }

  @media (max-width: 610px) {
    height: 45px;
    padding: 12px 20px;
    font-size: 14px;
  }

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-family: 'Muller';
    font-size: 18px;
    font-weight: 400;

    @media (max-width: 610px) {
      font-size: 14px;
    }
  }
}

.button {
  position: relative;
  left: -5px;
  width: 67px;
  height: 67px;
  text-align: center;
  color: #ffffff;
  background-color: #54a0ff;
  border: none;
  border-radius: 10px;

  @media (max-width: 610px) {
    width: 45px;
    height: 45px;
  }
}

.buttonIcon {
  width: 24px;
  height: 24px;
  vertical-align: middle;

  @media (max-width: 610px) {
    width: 14px;
    height: 14px;
  }
}

.keyboardIcon {
  position: absolute;
  top: 24px;
  right: 160px;
  width: 40px;
  height: 24px;

  @media (max-width: 768px) {
    display: none;
  }
}

.randomQuery {
  grid-row: 2;
  margin-top: 8px;
  font-size: 14px;
  line-height: 21px;
}

.randomQueryArabic {
  font-family: 'Amiri';
  font-size: 14px;
  line-height: 21px;
}
