@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: local('Muller Regular'), local('Muller-Regular'), url('../public/fonts/MullerRegular.woff2') format('woff2'),
       local('Muller Regular'), local('Muller-Regular'), url('../public/fonts/MullerRegular.woff') format('woff'),
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: local('Muller Medium'), local('Muller-Medium'), url('../public/fonts/MullerMedium.woff2') format('woff2'),
       local('Muller Medium'), local('Muller-Medium'), url('../public/fonts/MullerMedium.woff2') format('woff'),
}

@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: local('Muller Bold'), local('Muller-Bold'), url('../public/fonts/MullerBold.woff2') format('woff2'),
       local('Muller Bold'), local('Muller-Bold'), url('../public/fonts/MullerBold.woff2') format('woff'),
}

@font-face {
  font-family: 'Kitab';
  font-style: normal;
  font-weight: 400;
  src: local('Kitab Regular'), local('Kitab-Regular'), url('../public/fonts/KitabRegular.woff2') format('woff2'),
       local('Kitab Regular'), local('Kitab-Regular'), url('../public/fonts/KitabRegular.woff2') format('woff'),
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 300px;
  font-family: "Muller";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
  color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: "Muller";
  font-size: 18px;
  line-height: 27px;
}
