.header {
  height: 91px;
  padding: 20px 0;

  @media (max-width: 768px) {
    height: 69px;
  }

  @media (max-width: 390px) {
    padding: 18px 0;
  }
}

.headerWrapper {
  display: grid;
  grid-template-columns: minmax(178px, 210px) minmax(550px, 598px);
  justify-content: space-between;
  align-items: center;
  max-width: 1625px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    grid-template-columns: 75px 78px;
    padding: 0 64px;
  }

  @media (max-width: 390px) {
    grid-template-columns: 75px 78px;
    padding: 0 16px;
  }
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    max-width: 78px;
  }

  @media (max-width: 390px) {
    margin-top: 7px;
  }
}

.footer {
  max-width: 1625px;
  min-height: 292px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #374047;
}

.footerWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 100px;
  padding: 56px 20px;

  @media (max-width: 1200px) {
    column-gap: 30px;
  }

  @media (max-width: 955px) {
    grid-template-columns: 1fr;
  }

  @media (max-width: 768px) {
    padding: 56px 64px;
  }

  @media (max-width: 390px) {
    padding: 40px 16px;
  }
}
